.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.product{
    height: 500px;
    width: 300px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
}
.button{
    background-color: skyblue;
    color: black;
    border-radius: 2px;
}
.searchbar{
    display: flex;
    justify-content: center;
    padding:20px;
    
}
.contents{
    display: flex;
    justify-content: space-around;
    background-color: lavenderblush;
}
.detail-title{
    color: blueviolet;
}